.main-content {
    margin-top: 51px;
}

.codecheckmate-logo {
    padding-top: 3px;
    padding-right: 7px;
}

/* Pattern of 2 every 2 is striped for Table Accordeon mechanic */
.table-striped-skipone > tbody > tr:nth-of-type(4n+3) {
    background-color: #f9f9f9;
}
.table-striped-skipone > tbody > tr:nth-of-type(4n+4) {
    background-color: #f9f9f9;
}

/* Navbar Coloring */
.navbar-default {
    background-color: #2ecc71;
    border-color: #27ae60;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #d1ffed;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #d1ffed;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #2ecc71;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #2ecc71;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
}
.navbar-default .navbar-toggle {
    border-color: #27ae60;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #27ae60;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #d1ffed;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d1ffed;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d1ffed;
        background-color: #27ae60;
    }
}

/** ANGULAR */
.add-command {
    margin-right: 8px;
}

.presetCommandList {
    margin: 5px;
}