<f:layout name="Default" />
<f:section name="Content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#/check" class="pull-left codecheckmate-logo"><img src="{f:uri.resource(path: 'Images/checkmate-logo-small.png')}" height="40px" alt="Code CheckMate" /></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/check" class="navbar-brand"> Code CheckMate</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <navigation></navigation>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container main-content">

        <!-- <f:debug>{valueTest}</f:debug> -->

        <div data-ng-view class="ngview" autoscroll="true"></div>
    </div><!-- /.container -->
</f:section>